---
/**
 * astro
 */

/**
 * constants
 */

/**
 * layouts
 */
import Layout from "@layouts/Layout.astro";

/**
 * components
 */
/**
 * variables
 */
const PAGE_CLASSNAME = "webgl";
---

<Layout title="Welcome to Astro." description="" keywords="">
  <main class={`p-${PAGE_CLASSNAME}`}>
    <astro-canvas class="canvas-wrapper"></astro-canvas>
  </main>
</Layout>

<style lang="scss" is:global>
  $PAGE_CLASSNAME: "webgl";
  .p-#{$PAGE_CLASSNAME} {
    width: 100%;
    height: 100vh;
  }

  .canvas-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: $color-bg-body;
    >canvas {
      width: 100%;
      height: 100%;
    }
  }
</style>

<script>
  // /**
  // * @description クライアントサイドで実行されるスクリプトはここに記述します。
  // */
  import { TriangleScreenShaderCanvas } from "@pages/webgl/triangle-screen-shader/TriangleScreenShaderCanvas";

  // canvasタグの設定
  class AstroCanvas extends HTMLElement {
    #rootElement: HTMLElement;
    #canvas: TriangleScreenShaderCanvas;
    constructor() {
      super();
      this.#rootElement = this;
      this.#canvas = new TriangleScreenShaderCanvas({ element: this.#rootElement });
    }

    /**
     * init canvas
     */
    #initCanvas() {}
  }
  customElements.define("astro-canvas", AstroCanvas);
</script>
