---
/**
 * astro
 */

/**
 * constants
 */

/**
 * layouts
 */
import Layout from '@layouts/Layout.astro'

/**
 * components
 */
/**
 * variables
 */
const PAGE_CLASSNAME = 'webgl'
---

<Layout title="2D Meta Ball" description="" keywords="">
  <main class={`p-${PAGE_CLASSNAME}`}>
    <astro-canvas class="canvas-wrapper"></astro-canvas>
    <div class="message">
      <span>kono text ha</span>
      <span>dummy desu.</span>
      <span>saikin anpan wo</span>
      <span>mainichi noyouni tabemasu.</span>
    </div>
  </main>
</Layout>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
  $PAGE_CLASSNAME: 'webgl';
  .p-#{$PAGE_CLASSNAME} {
    width: 100%;
    height: 100vh;
  }

  .canvas-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    > canvas {
      width: 100%;
      height: 100%;
    }
  }
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    mix-blend-mode: difference;
    > span {
      font-family: 'Jost', sans-serif;
      font-size: 80px;
      font-weight: 600;
      line-height: 1.1;
      letter-spacing: 0em;
    }
  }
</style>

<script>
  // /**
  // * @description クライアントサイドで実行されるスクリプトはここに記述します。
  // */
  import { MetaballCanvas } from '@scripts/pages/webgl/metaball-2d/MetaballCanvas'

  // canvasタグの設定
  class AstroCanvas extends HTMLElement {
    #rootElement: HTMLElement
    #canvas: MetaballCanvas
    constructor() {
      super()
      this.#rootElement = this
      this.#canvas = new MetaballCanvas({ element: this.#rootElement })
    }

    /**
     * init canvas
     */
    #initCanvas() {}
  }
  customElements.define('astro-canvas', AstroCanvas)
</script>
