---
/**
 * astro
 */
import { Image } from "astro:assets";

/**
 * constants
 */
import { PAGE } from "@constants/page";

/**
 * layouts
 */
import Layout from "@layouts/Layout.astro";

/**
 * components
 */
import Canvas from "@components/Parts/WebGL/Canvas.astro";
/**
 * variables
 */
const PAGE_ID = PAGE.INDEX.ID;
const PAGE_CLASSNAME = PAGE.INDEX.CLASSNAME;
const SITE_NAME = import.meta.env.PUBLIC_SITE_NAME
  ? import.meta.env.PUBLIC_SITE_NAME
  : "環境変数が設定されていません";
---

<Layout title="Welcome to Astro." description="" keywords="">
  <Canvas />
  <main class={`p-${PAGE_CLASSNAME}`}></main>
</Layout>

<style lang="scss" is:global>
  $PAGE_CLASSNAME: "index";
  .p-#{$PAGE_CLASSNAME} {
  }

  .p-#{$PAGE_CLASSNAME}-body {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    padding: 100px 0;
    z-index: 1;
  }
</style>
